// Option for 6 column layout
.show-6 {
  .views-row {
    @include breakpoint(420px) {
      float: left;
      width: 50%;
    }

    @include breakpoint(768px) {
      width: 25%;
    }

    @include breakpoint(1024px) {
      width: 20%;
    }

    @include breakpoint(1280px) {
      width: 16.666666667%;
    }
  }
}
